doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no')
    meta(name='csrf-token', content=_csrf)
    
    block metatags
      
    block headstart

    
    block headend

  body
    block menu
      
    block header
    block maincss
      
    block scripts

    block content_container
      .container-fluid(style={"padding-top":"50px"})
        
        block content
      
    
    block cssstuff
    block footer


